{% extends 'base.html.twig' %}

{% block title %}Looha - Créateur de site web{% endblock %}
{% block hero %}{% endblock %}

{% block body %}
    <h3 class="display-3 text-center" id="services">Nos Prestations</h3>
    <hr class="w-25 mx-auto">
    <div class="container main-block row mt-5 mx-auto">

     <!-- BLOCK SITE INTERNET -->
        <div class="col-lg-6 col-sm-12 mt-5">
            <img src="{{ asset('assets/img/web-design.png') }}"
                 data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine"
                 data-aos-duration="1000"
                 class="ml-2" width="60px" alt="web-design icon">
            <p class="display-4 title-info gloria">Création de site internet</p>
            <p>La création d’un site pour son entreprise ou son activité professionnelle va être de se faire connaître dans son domaine sur internet.
                Il permet d'être visible et de communiquer.
                Nous vous proposons :<br><br><strong>
                    &emsp;-Création d’un site vitrine. <br>
                    &emsp;-Création d’un site e-commerce. <br>
                    &emsp;-Création d’un site intranet. <br> <br></strong>
                Autour de cela nous définissons vos besoins et nous créons un site à votre image. Tous les sites sont faits sur mesure et aucun CMS n’est utilisé pour une sécurité optimale et une consommation écologique minimale.
            </p>
        </div>
        <div class="col-lg-6 col-sm-12">
{#            <img src="{{ asset('assets/img/site.jpg') }}"#}
{#                 data-aos="fade-right"#}
{#                 data-aos-offset="300"#}
{#                 data-aos-easing="ease-in-sine"#}
{#                 data-aos-duration="1000"#}
{#                 class="img-fluid rounded-pill" alt="Creation site internet by Eftakher Alam" >#}
            {% include "blocks/_svg-website.html.twig" %}
        </div>
    </div>

    {% include "blocks/_divider.html.twig" %}

    <div class="container main-block row mt-1 mx-auto">
        <!-- BLOCK Référencement SEO -->
        <div class="col-lg-6 col-sm-12">
            <img src="{{ asset('assets/img/seobis.jpg') }}"
                 data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine"
                 data-aos-duration="1000"
                 class="img-fluid rounded-pill" alt="Creation site internet by Merakist" >
        </div>
        <div class="col-lg-6 col-sm-12 mt-5">
            <img src="{{ asset('assets/img/seo.png') }}"
                 data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine"
                 data-aos-duration="1000"
                 class="ml-2" width="60px" alt="SEO icon">
            <p class="display-4 title-info gloria">Référencement SEO</p>

            <p>Le référencement SEO ou référencement naturel est l’ensemble des points mis en œuvre pour améliorer son positionnement sur les pages de recherche.
                En définitive il permet :
                <br><br><strong>
                    &emsp;-Être visible sur les moteurs de recherche. <br>
                    &emsp;-Attirer de nouveaux utilisateurs.</strong> <br>
            </p>
        </div>
    </div>

    {% include "blocks/_divider.html.twig" %}

    <div class="container main-block row mt-1 mx-auto">
        <!-- BLOCK Réseaux Sociaux -->
        <div class="col-lg-6 col-sm-12 mt-5">
            <img src="{{ asset('assets/img/social-media.png') }}"
                 data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine"
                 data-aos-duration="1000"
                 class="ml-2" width="60px" alt="social-media icon">
            <p class="display-4 title-info gloria">Réseaux Sociaux</p>
            <p>Aujourd’hui les réseaux sociaux sont un canal de communication important et vous permettent d'être en contact avec une vaste communauté d'utilisateurs à travers le monde.
                Nous vous proposons :
                <br><br><strong>
                    &emsp;-Choix des réseaux les plus pertinents en fonction de vos besoins et objectifs. <br>
                    &emsp;-Gestion des réseaux sociaux. <br>
                    &emsp;-Attraction de nouveaux clients.<br>
                    &emsp;-Mise en place d’une stratégie digitale adaptée à vos besoins. <br>
                    &emsp;-Augmenter votre visibilité. </strong><br>
            </p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <img src="{{ asset('assets/img/social.jpg') }}"
                 data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine"
                 data-aos-duration="1000"
                 class="img-fluid rounded-pill" alt="Creation site internet by Merakist" >
        </div>
    </div>

    {% include "blocks/_divider.html.twig" %}

    <div class="container main-block row mt-1 mx-auto">
        <!-- BLOCK Identité visuelle -->
        <div class="col-lg-6 col-sm-12">
            <img src="{{ asset('assets/img/design.jpg') }}" data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine"
                 data-aos-duration="1000"
                 class="img-fluid rounded-pill" alt="Creation site internet by Merakist" >
        </div>
        <div class="col-lg-6 col-sm-12 mt-5">
            <img src="{{ asset('assets/img/wireframe.png') }}"
                 data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine"
                 data-aos-duration="1000"
                 class="ml-2" width="60px" alt="wireframe icon">
            <p class="display-4 title-info gloria">Identité visuelle</p>
            <p>L'identité visuelle est l’image que votre activité, votre univers et que votre entreprise reflète. Nous vous proposons donc en fonction de votre public ciblé et de vos envies :
                <br><br><strong>
                    &emsp;-Réalisation de votre charte graphique. <br>
                    &emsp;-Réalisation de votre logo. <br>
                    &emsp;-Design de votre site. </strong><br><br>
                L'identité visuelle est garante de votre identité de marque. Elle permet de conserver une cohérence de votre marque sur tous supports confondus.
            </p>
        </div>
    </div>

    {% include "blocks/_divider.html.twig" %}

    <div class="container main-block row mt-1 mx-auto">
        <!-- BLOCK Accompagnement -->

        <div class="col-lg-6 col-sm-12 mt-5">
            <img src="{{ asset('assets/img/help.png') }}"
                 data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine"
                 data-aos-duration="1000"
                 class="ml-2" width="60px" alt="support icon">
            <p class="display-4 title-info gloria">Accompagnement</p>
            <p>Parce qu’une fois que nous avons mis en place une stratégie nous ne vous abandonnons pas. Ainsi vous pourrez bénéficier d'un accompagnement en fonction de vos besoins :
                <br><br><strong>
                    &emsp;-Vous écouter et comprendre vos besoins.<br>
                    &emsp;-Vous conseiller et répondre à vos questions. <br>
                    &emsp;-Vous aider dans la gestion de votre site.</strong> <br><br>
                Nous vous accompagnons dans le lancement du site et jusqu'à ce que vous ayez une autonomie complète.
            </p>
        </div>
        <div class="col-lg-6 col-sm-12">
{#            <img src="{{ asset('assets/img/support.jpg') }}" data-aos="fade-right"#}
{#                 data-aos-offset="300"#}
{#                 data-aos-easing="ease-in-sine"#}
{#                 data-aos-duration="1000"#}
{#                 class="img-fluid rounded-pill" alt="lampe led de deux mains qui se serrent by charlesdeluvio">#}
            {% include "blocks/_svg-support.html.twig" %}
        </div>
    </div>

    {% include "blocks/_carousel.html.twig" %}

    {% include "blocks/_floatingbanner.html.twig" %}



    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type='text/javascript'>document.addEventListener('DOMContentLoaded', function () {window.setTimeout(document.querySelector('svg').classList.add('animated'),1000);})
    </script>
{#    <script type='text/javascript'>document.addEventListener('DOMContentLoaded', function () {window.setTimeout(document.querySelector('svg').classList.add('animated'),1000);})#}
{#    </script>#}
    <script>
        anime({
            targets: '.anime',
            d: [
                { value: (el) => el.getAttribute('data-morph-to'), duration: (el, i) => 2000},
                { value: (el) => el.getAttribute('d'), duration: (el, i,l) => 2000 }
            ],
            loop: true,
            easing: 'linear',
            update: () => {
                const el = document.getElementById('defs');
                el.style.display = 'none';
                el.offsetWidth;
                el.style.display = 'block';
            }
        })

        class Defilee {
            constructor (element) {
                if (!element) {
                    return
                }
                this.element = element
                this._name = "defilee";
                this._itemSelector = "." + this._itemClass
            }
            init () {
                this.addLoop();
            }
            addLoop () {
                const parent = this.element;
                Array.prototype.slice.call(this.element.children).reverse().forEach ( (el) => {
                    const clone = el.cloneNode(true);
                    clone.classList.add('clone');
                    parent.insertBefore(clone, parent.firstChild );
                })
            }
        }

        const defilee = new Defilee(document.getElementById('defilee'));
        defilee.init();

        // Carousel

        var testimonialItems = document.querySelectorAll(".item label");
        var timer;
        function cycleTestimonials(index) {
            timer = setTimeout(function() {
                var evt;
                if (document.createEvent){
                    //If browser = IE, then polyfill
                    evt = document.createEvent('MouseEvent');
                    evt.initMouseEvent('click', true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                } else {
                    //If Browser = modern, then create new MouseEvent
                    evt = new MouseEvent("click", {
                        view: window,
                        bubbles: true,
                        cancelable: true,
                        clientX: 20
                    });
                }
                var ele = "." + testimonialItems[index].className;
                var ele2 = document.querySelector(ele)
                ele2.dispatchEvent(evt);
                index++; // Increment the index
                if (index >= testimonialItems.length) {
                    index = 0; // Set it back to `0` when it reaches `3`
                }
                cycleTestimonials(index); // recursively call `cycleTestimonials()`
                document.querySelector(".testimonials").addEventListener("click", function() {
                    clearTimeout(timer); //stop the carousel when someone clicks on the div
                });
            }, 2000); //adjust scroll speed in miliseconds
        }
        //run the function
        cycleTestimonials(0);

    </script>

{% endblock %}