<!--Carousel-->
<div class="my-5 pb-5 container-fluid" >
    <h3 class="display-3 text-center  pt-5" id="projet">Nos Projets</h3>
    <hr class="w-25 mx-auto ">
    <div id="flex-container" class="testimonials">
        <div id="left-zone">
            <ul class="list">
                <p class="display-6 text-center ">Ils nous font confiance</p>
                <hr class="w-25 mx-auto mb-5">
                <li class="item">
                    <input type="radio" id="radio_testimonial-1" name="basic_carousel" checked="checked" />
                    <label class="label_testimonial-1 label-test" for="radio_testimonial-1">Travel with your bike</label>
                    <div class="content-test content_testimonial-1">
                        <span class="picto"></span>
                        <img src="{{ asset('assets/img/tywb.png') }}" class="img-fluid img-carousel" alt="Image du site travel with your bike">
                        <p class="display-6">Travel With Your Bike</p>
                        <p>Site de réservation pour transport de moto de Calais à plusieurs destinations en France</p>
                        <p class="testimonialFrom"><a href="https://travelwithyourbike.com" target="_blank">Travel With Your Bike</a></p>
                    </div>
                </li>
                <li class="item">
                    <input type="radio" id="radio_testimonial-2" name="basic_carousel" />
                    <label class="label_testimonial-2 label-test" for="radio_testimonial-2">Le Grain de sable</label>
                    <div class="content-test content_testimonial-2">
                        <span class="picto"></span>
                        <img src="{{ asset('assets/img/grds.png') }}" class="img-fluid" alt="Image du site restaurant le frain de sable">
                        <p class="display-6">Restaurant le Grain de sable</p>
                        <p>Site vitrine pour un restaurant de bord de mer en Corse</p>
                        <p class="testimonialFrom"><a href="https://restaurant-legraindesable-sagone.fr/" target="_blank">Le Grain de sable</a></p>
                        <br>
                    </div>
                </li>
                <li class="item">
                    <input type="radio" id="radio_testimonial-3" name="basic_carousel" />
                    <label class="label_testimonial-3 label-test" for="radio_testimonial-3">X-tend By Emy</label>
                    <div class="content-test content_testimonial-3">
                        <span class="picto"></span>
                        <img src="{{ asset('assets/img/xtend.png') }}" class="img-fluid" alt="Image du site Xtend-By Emy">
                        <p class="display-6">X-tend by Emy</p>
                        <p>Site vitrine pour une esthéticienne à Tournai, en Belgique</p>
                        <p class="testimonialFrom"><a href="https://lohaa.com/" target="_blank">En maintenance/refonte</a></p>
                    </div>
                </li>
                <li class="item">
                    <input type="radio" id="radio_testimonial-4" name="basic_carousel" />
                    <label class="label_testimonial-4 label-test" for="radio_testimonial-4">A la pat</label>
                    <div class="content-test content_testimonial-4">
                        <span class="picto"></span>
                        <img src="{{ asset('assets/img/alapat.png') }}" class="img-fluid" alt="Image du site Xtend-By Emy">
                        <p>A la pat</p>
                        <p>Site vitrine pour une boulangerie située prés de Reims a Bussy le chateau</p>
                        <p class="testimonialFrom"><a href="https://lohaa.com/" target="_blank">A la pat</a></p>
                        <br>
                    </div>
                </li>
                <li class="item">
                    <input type="radio" id="radio_testimonial-5" name="basic_carousel" />
                    <label class="label_testimonial-5 label-test" for="radio_testimonial-5"><a href="{{ path('contact') }}">Nos autres projets</a></label>
                    <div class="content-test content_testimonial-5">
                        <span class="picto"></span>
                        <img src="{{ asset('assets/img/alapat.png') }}" class="img-fluid" alt="Image du site Xtend-By Emy">
                        <p>A la pat</p>
                        <p>Site vitrine pour une boulangerie située prés de Reims a Bussy le chateau</p>
                        <p class="testimonialFrom"><a href="https://lohaa.com/" target="_blank">A la pat</a></p>
                        <br>
                    </div>
                </li>
            </ul>
        </div>
        <div id="right-zone"></div>
    </div>
</div>