<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="{{ asset('assets/js/tarteaucitron/tarteaucitron.js') }}"></script>

        <script type="text/javascript">
            tarteaucitron.init({
                "privacyUrl": "https://travelwithyourbike.com/politic", /* Privacy policy url */
                "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

                "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                "cookieName": "tarteaucitron", /* Cookie name */

                "orientation": "middle", /* Banner position (top - bottom) */

                "groupServices": false, /* Group services by category */
                "serviceDefaultState": "wait", /* Default state (true - wait - false) */

                "showAlertSmall": false, /* Show the small banner on bottom right */
                "cookieslist": true, /* Show the cookie list */

                "closePopup": false, /* Show a close X on the banner */

                "showIcon": false, /* Show cookie icon to manage cookies */
                //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
                "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

                "adblocker": false, /* Show a Warning if an adblocker is detected */

                "DenyAllCta" : true, /* Show the deny all button */
                "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */

                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

                "readmoreLink": "", /* Change the default readmore link */

                "mandatory": true, /* Show a message about mandatory cookies */
                "mandatoryCta": true /* Show the disabled accept button when mandatory on */
            });
            tarteaucitron.user.gtagUa = 'G-QG65G6G652';
            // tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
            tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
            (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
        </script>

        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Looha, Agence web et communication, basée dans le lot disponible partout pour vous !" />
        <link rel="canonical" href="https://looha.io" />
        <meta name="Language" CONTENT="fr" />
        <meta name="publisher" content="Diagne Axel" />
        <meta name="keywords" content="Looha, Agence web, Agence communication, e-commerce, e-commerce Cahors, e commerce Cahors, e-commerce Lot, e commerce Lot, Agence web Cahors, Agence web Lot, Agence communication Lot, Agence communication Cahors, Lot, Cahors, creation site web, creation intranet lot, creation site web lot, creation site web Cahors, reseaux sociaux, reseaux sociaux Cahors, reseaux sociaux Lot, Création d’un site vitrine, Création d’un site vitrine Cahors, Attirer de nouveaux utilisateurs Cahors, charte graphique, design site, design logo" />
        <!-- OG -->

        <meta property="og:title" content="Looha, Agence web et communication, basée dans le lot disponible partout pour vous !" />
        <meta property="og:url" content="https://looha.io" />
        <meta property="og:image" content="{{  asset('assets/img/LoohaMeta.png') }}" />
        <meta property="og:site_name" content="Looha" />

        <title>{% block title %}Looha - Agence web et communication{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <!-- Favicons -->
        <link rel="icon" href="{{ asset('assets/img/fav.png') }}" />

        <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}  
    </head>
    <body>
    <header id="header">
        <nav class="fixed-top" id="nav">
            <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <div class="logo">
                        <p class="alo">Looha</p>
                    </div>
                    <div class="menu-items" style="background-size:cover;background: url('{{ asset('assets/img/banner.jpg') }}')">
                        <p class="alo display-3 text-center">Looha</p>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('about') }}">A propos</a></li>
                        <li><a href="{{ path('home', {'_fragment': 'services'}) }}">Services</a></li>
                        <li><a href="{{ path('home', {'_fragment': 'projet'}) }}">Projets</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </div>
                </div>
            </div>
        </nav>
        {% if block('hero') is defined %}
            <div id="hero" class="vh-100" style="background-size:cover;background: url('{{ asset('assets/img/banner.jpg') }}')">

                <div data-aos="fade-right"
                     data-aos-offset="300"
                     data-aos-easing="ease-in-sine"
                     data-aos-duration="2000">
                    <h1 class="text-white company-name">
                        Looha
                    </h1>
                </div>

                <p class="text-white display-2 text-center company-p position-absolute" >
                    Agence Web et communication
                </p>

            </div>
        {% endif %}



    </header>

    <main class="{% if block('hero') is not defined %} mt-5 {% endif %}">
        {% block body %}{% endblock %}
    </main>


    <footer class="footer-basic">
        <div class="footer-div" style="background-size:cover;background: url('{{ asset('assets/img/banner.jpg') }}');background-position: center;background-repeat: no-repeat;background-size: cover;">
            <div class="social">
                <a href="https://www.instagram.com/_looha.io_/">
                    <img src="{{ asset('assets/img/instagram.png') }}" width="50px" alt="Icon instagram">
                </a>
                <a href="https://www.linkedin.com/company/looha/">
                    <img src="{{ asset('assets/img/linkedin.png') }}" width="50px" alt="Icon linkedin">
                </a>
                <a href="tel:+33646513700">
                    <img src="{{ asset('assets/img/whatsapp.png') }}" width="50px" alt="Icon whatsapp">
                </a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{ path('home', {'_fragment': 'header'}) }}">Accueil</a></li>
                <li class="list-inline-item"><a href="{{ path('about') }}">A propos</a></li>
                <li class="list-inline-item"><a href="{{ path('home', {'_fragment': 'services'}) }}">Services</a></li>
                <li class="list-inline-item"><a href="{{ path('home', {'_fragment': 'projet'}) }}">Projets</a></li>
                <li class="list-inline-item"><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
            <ul class="list-inline-terms pt-2">
                <li class="list-inline-item-terms"><a href="{{ path('privacy') }}">Politique de confidentialité</a></li>
                <li class="list-inline-item-terms"><a href="{{ path('terms') }}">Mentions légales</a></li>
            </ul>
            <p class="copyright">Looha © 2022</p>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();

        let scrollpos = window.scrollY
        const header = document.querySelector("nav")
        const header_height = 900

        const add_class_on_scroll = () => header.classList.add("bg-dark")
        const add_dis_on_scroll = () => header.classList.add("d-none")
        const remove_class_on_scroll = () => header.classList.remove("bg-dark")
        const remove_dis_on_scroll = () => header.classList.remove("d-none")

        window.addEventListener('scroll', function() {
            scrollpos = window.scrollY;

            if (scrollpos >= header_height) { add_class_on_scroll() }
            else { remove_class_on_scroll() }
        })

        //Close navbar on link click no jquery
        const navLinks = document.querySelectorAll('.menu-items li a')
        navLinks.forEach(link => {
            link.addEventListener('click', () => {
                document.querySelector('.checkbox').checked = false
            })
        })

    </script>
    </body>
</html>
