<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Looha - Créateur de site web{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </head>
    <body>
    <header>

        <nav class="fixed-top">
            <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <div class="logo">
                        <p class="display-6 text-white">Agence Web</p>
                    </div>
                    <div class="menu-items" style="background-size:cover;background: url('{{ asset('assets/img/banner.jpg') }}')">
                        <h2 class="display-1 text-white mb-5">Looha</h2>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('about') }}">A propos</a></li>
                        <li><a href="#">Prestations</a></li>
                        <li><a href="#">Projet</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </div>
                </div>
            </div>
        </nav>

        <div id="hero" class="vh-100" style="background-size:cover;background: url('{{ asset('assets/img/banner.jpg') }}')">

            <div data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine"
                 data-aos-duration="2000">
                <h1 class="text-white company-name">
                    Looha
                </h1>
            </div>

            <p class="text-white display-2 text-center  company-p" data-aos="fade-right"
               data-aos-offset="300"
               data-aos-easing="ease-in-sine"
               data-aos-duration="1000">
                Créateur de solutions
            </p>

        </div>


    </header>

    <main>
        {% block body %}{% endblock %}
    </main>


    <footer>
        test
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    </body>
</html>
